body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #E5F3F2;
  height: 40vh;
  width: 100%;
  padding-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  }

summary {
  display: block;
  margin:  10px auto;
}

input {
  display: inline-block;
  margin: 10px auto;
  height: 30px;
  width: 60vw;
}
#ideas {
  text-align: center;
}
.save {
  background-color: #00A79D;
  border: none;
  color: #FFF;
  display: inline-block;
  height: 30px;
  margin:  10px auto;
  width: 60vw;
}

.save:hover {
  background-color: #045E55;
}

#idealogo {
  color: #00A79D;
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  font-weight: bold;
}

#boxlogo{
  color: #6D6E71;
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
  font-weight: bold;
}

article {
  border-bottom: 1px solid #607D8B;
  padding: 10px 15px;
  position: relative;
  width: 60vw;
  height: 100px;
  margin: 20px auto;
}

article h1 {
position: absolute;
left: 0;
top: 0;
font-size: 40px;
}

article p{
  position: absolute;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100%;
  overflow: scroll;

}

#delete-btn{
position: absolute;
right: 0;
top: 0;
}

#up-btn{
position: absolute;
left: 0;
bottom: 0;
}

#down-btn{
position: absolute;
left: 10%;
bottom: 0;
}

h2{
position: absolute;
left: 20%;
bottom: 0;
}
