body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-color: #E5F3F2;
  height: 250px;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  }

summary {
  display: block;
  margin:  10px auto;
}

textarea {
  font-size: 20px;
  display: inline-block;
  margin: 5px auto;
  height: 30px;
  width: 90vw;
  resize: none;
  border: 1px solid #D1D3D4;
}

#body{
  height: 70px;
}

.save {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  background-color: #00A79D;
  border: none;
  color: #FFF;
  display: inline-block;
  height: 30px;
  margin:  10px auto;
  width: 92vw;
}

.save:hover {
  background-color: #045E55;
}

.search {
  position: relative;
  text-align: center;
}

#idealogo {
  color: #00A79D;
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
}

#boxlogo{
  color: #6D6E71;
  display: inline;
  font-family: 'Roboto Slab', serif;
  font-size: 40px;
}

article {
  padding: 10px 0;
  position: relative;
  width: 90vw;
  /*height: 150px;*/
  margin: 20px auto;
}
#card-top{
  height: 40px;
}
#card-middle{
  height: 80px;
  overflow: scroll;
}
#card-bottom{
  display: flex;
  align-items: center;
  height: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #607D8B;
}

#ideaTitle {
  position: absolute;
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
  left: 0;
  top: 0;
  font-size: 25px;
}

#ideaBody{
  color: #939598;
  text-align: left;

}

#delete-btn{
  background-image: url('../images/delete.svg');
  height: 25px;
  width: 25px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

#delete-btn:hover {
  background-image: url('../images/delete-hover.svg');
}

#up-btn{
  background-image: url('../images/upvote.svg');
  height: 25px;
  width: 25px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  /*position: absolute;*/
  left: 0;
  bottom: 0;
}

#up-btn:hover {
  background-image: url('../images/upvote-hover.svg');
}

#down-btn{
  background-image: url('../images/downvote.svg');
  height: 25px;
  width: 25px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  /*position: absolute;*/
  margin-left: 10px;
  bottom: 0;
}

#down-btn:hover {
  background-image: url('../images/downvote-hover.svg');
}

#quality {
  display: inline;
  margin-left: 30px;
  /*position: absolute;*/
  color: #6D6E71;
}
